@model RepostIt.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postId)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="far fa-edit"></i></a> 
    <a type="button" class="btn btn-outline-danger" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
</div>
