@using RepostIt
@model dynamic
@{
        ViewData["Title"] = "Details";
    }
    <div class="text-center">
        <div>
            @foreach (Community item in Model.community)
            {
                if (Model.id == item.Id)
                {
                    <a asp-controller="Communities" asp-action="Details" asp-route-id="@item.Id"><h1 class="font-weight-bold" >@Html.DisplayFor(modelItem => item.communityType)</h1></a>
                }


            }
        </div>

        @foreach (Post item in Model.posts)
        {
            if (Model.id == item.communityId)
            {
                <div class=" col-md-12 border border-dark bg-light">

                    <h4><a asp-controller="Posts" asp-action="Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.showTitle)</a></h4>
                    <h4>@Html.DisplayFor(modelItem => item.community.communityType)</h4>
                    <p>By:@Html.DisplayFor(modelItem => item.name)</p>
                    <img src="@Html.DisplayFor(modelItem => item.url)" class="img-thumbnail" />
                    <p>@Html.DisplayFor(modelItem => item.description)</p>
                    <div class="float-left">

                       
                    </div>
                </div>
                <br />
            }

        }
    </div>
