@model IEnumerable<RepostIt.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<br>
<h5 style="text-align:center; text-decoration:underline;">Create your Post</h5>
<p>
    <a type="button" class="btn btn-outline-primary" asp-action="Create">Make Post</a>
</p>
<div class="col-md-12 border ">
    @foreach (var item in Model)
    {
        if (item.name == @User.Identity.Name)
        {
            <h4 class="text-center"><a asp-controller="Posts" asp-action="Details" asp-route-id="@item.id">@Html.DisplayFor(modelItem => item.showTitle)</a></h4>
            <h4 class="text-center">Posted In:@Html.DisplayFor(modelItem => item.community.communityType)</h4>
            <p class="text-center">By:@Html.DisplayFor(modelItem => item.name)</p>
            <div class="text-center"><img src="@Html.DisplayFor(modelItem => item.url)" class="img-thumbnail" /></div>
            <p class="text-center">@Html.DisplayFor(modelItem => item.description)</p>

            <a type="button" class="btn btn-danger" asp-action="Edit" asp-route-id="@item.id"><i class="far fa-edit"></i></a>
            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id"> <i class="far fa-trash-alt"></i></a>
        }

    }

</div>



